html {
  font-family: nunito, sans-serif;
}

.title {
  text-align: center;
  color: red;
  font-size: small;
}
.header-container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin: 20px;
}
.card > img {
  border-radius: 20%;
  max-width: 100vw;
}

button {
  padding: 1rem;
  max-width: 6rem;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 0 30% 30% 30%;
  align-self: center;
}
button:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
  .header-container {
    justify-content: space-between;
    flex-direction: row;
  }

  .card-container {
    padding: 0px 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}
